@import './default'
   
.content
   display: flex
   flex-direction: column
   height: 100vh
   background-color: red

.appFlex
   display: flex
   background-color: yellow
   height: 100%
   // border: 3px solid black
   
#appBar
   position: relative
   height: 5vw
   background-color: $primaryColor
   padding-top: 1vh
   padding-bottom: 1vh

   .appTitleBarText
      font: $primaryText

#sideCard
   display: inline-block
   height: 100%
   min-width: 15vw
   background-color: $primaryColor
   border-radius: 0
   z-index: 100px
   padding-top: 2vh

   .sideMenu
      padding: 2vh 
      color: white

.pages
  


   
  
   